.content {
  align-items: flex-start;
  justify-items: center;  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: minmax(500px, auto);
  grid-gap: 1rem;
  background-color: black;
}


