<app-top-bar></app-top-bar>
<div class="content">
  <span *ngFor = "let NewMovie of NewMovies">
    <div class="card" style="width: 27rem;">
      <img src='https://image.tmdb.org/t/p/w500{{NewMovie.poster_path}}' class="card-img-top" alt= '{{NewMovie.original_title}} Poster' >
      <div class="card-body">
        <h5 class="card-title">{{NewMovie.original_title}}</h5>
        <p class="card-text">{{NewMovie.overview}}</p>
        <a href="" class="btn btn-primary">See Movie</a>
      </div>
    </div>
  </span>
  
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa fuga tenetur laboriosam iusto error perferendis dolorem nemo enim iste dignissimos! Perspiciatis natus quaerat veniam tempora facere quam eligendi cumque, reiciendis vitae ipsa nihil corporis maiores commodi fuga reprehenderit odio dolore voluptatem quas velit. Sunt eos deleniti maxime. Inventore ad sapiente animi ipsa aperiam alias dolorum eum accusantium deserunt ratione corporis expedita, quia magni nobis tenetur illo quasi numquam optio totam quaerat laudantium recusandae veniam? Corrupti cum porro neque suscipit quia repudiandae autem accusamus. Aliquam libero voluptates quos exercitationem eveniet voluptate culpa, a nobis impedit, nostrum ad enim architecto mollitia fuga!
  </p>
</div>