.content {
  padding-top: 3rem;
  align-items: flex-start;
  justify-items: center;  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
  grid-auto-rows: minmax(700px, auto);
  grid-gap: 1rem;
  background-color: black;
}


p, h5 {
  color: black;
}

h5{
  font-family: Impact, Charcoal, sans-serif;
}
.card-body {
  background-color: grey;
}

.btn btn-primary {
  justify-content: center;
}


