<app-top-bar></app-top-bar>
<div class="all">
  <div class="present">
    <h2>{{movie.original_title}}</h2>
  </div>
  <div class="present">
    <img src='https://image.tmdb.org/t/p/w500{{movie.poster_path}}' alt="Super poster">
  </div>  
  <div class="tittle">
    <p>Overview: {{movie.overview}}</p>    
  </div>
  <p>Popularity: {{movie.popularity}}</p>
  <p>Vote average: {{movie.vote_average}}</p>
  <p>vote count: {{movie.vote_count}}</p>
  <div class="tittle">
    <a *ngIf = "movie.homepage" href="{{movie.homepage}}">
      Avalilable on Netflix
      <img src='https://image.tmdb.org/t/p/w500{{movie.backdrop_path}}' alt="Super poster"> 
    </a>   
  </div>
  
  

</div>

