<!--<img src='https://image.tmdb.org/t/p/w500' alt="Super poster">
<h2>{{movie.genre_ids}}</h2>
<h3>original_title: "Joker"</h3>
<p>overview: "During the 1980s, a failed stand-up comedian is driven insane and turns to a life of crime and chaos in Gotham City while becoming an infamous psychopathic crime figure."</p>
<p>original_language: "en"</p>
backdrop_path: "/n6bUvigpRFqSwmPp1m2YADdbRBc.jpg"
genre_ids: (3) [80, 18, 53]


overview: "During the 1980s, a failed stand-up comedian is driven insane and turns to a life of crime and chaos in Gotham City while becoming an infamous psychopathic crime figure."
popularity: 588.352
poster_path: "/udDclJoHjfjb8Ekgsd4FDteOkCU.jpg"
release_date: "2019-10-04"

vote_average: 8.6
vote_count: 2891-->

