<div class="contains">
  <h1>
    <a [title]="Home" (click)="backHome()">Movies 
      <span class="glyphicon glyphicon-film" aria-hidden="true"></span>
    </a>    
  </h1>
  <div class="menu">
    <a href="">List</a>
    <a href="">Lorem, ipsum.</a>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Movie, actor, director, category..." aria-label="Recipient's username" aria-describedby="basic-addon2">
    </div>
  </div>
  <div class="user">     
      <a [routerLink] = "['/LogIn']" href="" (click)="logged()">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{isLogged}}
      </a>
  </div>  
</div>