<div class="contains">
  <h1>
    <a [title]="Home" (click)="backHome()">Movies 
      <span class="glyphicon glyphicon-film" aria-hidden="true"></span>
    </a>    
  </h1>
  <div class="menu">
    <button type="button" class="btn btn-light">Popular</button>
    <button type="button" class="btn btn-light">Best rated</button>
    <button type="button" class="btn btn-light">Genre</button>
    <span class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Movie, actor, director, category..." aria-label="Recipient's username" aria-describedby="basic-addon2">
    </span>
  </div>
  <div class="user">     
      <a [routerLink] = "['/LogIn']" href="" (click)="logged()">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{isLogged}}
      </a>
  </div>  
</div>